@using AspMvc5Identity.Models
@model AspMvc5Identity.Models.RoleEditModel

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <div>
        <div>Add To @Model.Role.Name</div>
        <table>
            @if (!Model.NonMembers.Any())
            {
                <tr><td colspan="2">All Users Are Members</td></tr>
            }
            else
            {
                <tr><td>User ID</td><td>Add To Role</td></tr>
                foreach (AppUser user in Model.NonMembers)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsToAdd" value="@user.Id">
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div>
        <div>Remove from @Model.Role.Name</div>
        <table>
            @if (!Model.Members.Any())
            {
                <tr><td colspan="2">No Users Are Members</td></tr>
            }
            else
            {
                <tr><td>User ID</td><td>Remove From Role</td></tr>
                foreach (AppUser user in Model.Members)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsToDelete" value="@user.Id">
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <button type="submit">Save</button>
    @Html.ActionLink("Cancel", "Index", null, null)
}
