@using AspMvc5Identity.Models
@model IEnumerable<AppUser>
@{ViewBag.Title = "Index";}

<div>
    <div>
        Users
    </div>
    <table>
        <tr><th>ID</th><th>Name</th><th>Email</th><th></th></tr>
        @if (!Model.Any())
        {
            <tr><td colspan="4">No User Accounts</td></tr>
        }
        else
        {
            foreach (AppUser user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        @using (Html.BeginForm("Delete", "UserAdmin",new { id = user.Id }))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = user.Id }, null)
                            <button type="submit">Delete</button>
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>
@Html.ActionLink("Create", "Create", null, null)
@Html.ActionLink("Roles", "Index", "RoleAdmin", null, null)