@{ ViewBag.Title = "Index"; }

<div>
    <div>User Details</div>
    <table>
        @foreach (string key in Model.Keys)
        {
            <tr>
                <th>@key</th>
                <td>@Model[key]</td>
            </tr>
        }
    </table>
</div>
@Html.ActionLink("Admin", "Index", "Admin", null, null)
@Html.ActionLink("Role admin", "Index", "RoleAdmin", null, null)
@Html.ActionLink("Sign Out", "Logout", "Account", null, null)
