@model AspMvc5Identity.Models.LoginModel
@{ ViewBag.Title = "Login";}

<h2>Log In</h2>
@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div>
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        <label>Password</label>
        @Html.PasswordFor(x => x.Password)
    </div>
    <button type="submit">Log In</button>
}
